
 @{
    ViewData["Title"] = "About";
}

<section class="about">
    <div class="container">
        <h2>
            <b>Our Mission</b>
        </h2>
        <p>
            our mission is simple: to bring the beauty and elegance of flowers to your life. Whether you're celebrating a special occasion, expressing your feelings, or just adding a touch of nature to your space, we are here to help you find the perfect flowers for every moment.
        </p>
        <h2>
            <b>Who We Are</b>
        </h2>
        <p>
            We are founded in 2024, RADGARDEN has grown from a small local florist to a trusted online destination for flower lovers everywhere. Our team of experienced florists and designers work tirelessly to create beautiful, unique arrangements that reflect your style and sentiment.
        </p>
        <h2>
            <b>
                What We Offer
            </b>
        </h2>
        <p>
            Fresh Flowers: We source the freshest flowers from local and international growers to ensure our bouquets are vibrant and long-lasting.
            Custom Arrangements: Our talented florists can create custom arrangements tailored to your specific needs and preferences.
            Same-Day Delivery: We offer reliable same-day delivery service to ensure your flowers arrive fresh and on time.
            Special Occasions: From weddings and anniversaries to birthdays and corporate events, we provide floral solutions for all occasions.
        </p>

    </div>
</section>

