@{
    ViewData["Title"] = "Home";
}


<section class="hero">
    <div class="container">
        <h2>Welcome to RADGarden</h2>
        <p>Explore our collection of exquisite plants and garden accessories.</p>
        <a asp-controller="Home" asp-action="Shop" class="btn">Shop Now</a>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; @DateTime.Now.Year RADGarden. All rights reserved.</p>
    </div>
</footer>
